.cont.notice div {
  float: left;
}

.title.n_tt {
  text-align: left;
  top: 0;
  vertical-align: top;
  font-family: 'Montserrat';
}

.cont.notice .n_right {
  position: relative;
  width: 70%;
  height: auto;
  overflow: hidden;
  top: 15px;
}

.noticeList {
  position: relative;
  width: 100%;
  overflow: hidden;
  clear: both;
}

.noticeList ul {
  border-top: 2px solid #fff;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.noticeList ul:after {
  display: block;
  clear: both;
  content: '';
}

.noticeList ul li {
  position: relative;
  width: 98%;
  height: auto;
  overflow: hidden;
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
}

.noticeList ul li:hover {
  background-color: #fafafa;
  transition: all 0.3s;
}

.noticeList ul li p {
  float: left;
}

.noticeList .cate {
  text-align: center;
  font-size: 11pt;
  text-align: center;
  line-height: 28px;
  overflow: hidden;
  margin-right: 20px;
  word-break: keep-all;
}

.noticeList .nc_in {
  display: inline;
  width: 85%;
}

.noticeList .nc_in .tit {
  display: block;
  font-size: 11pt;
  line-height: 28px;
  text-align: left;
  margin-bottom: 10px;
}

.noticeList .nc_in .date {
  display: block;
  font-size: 10pt;
}

.notice_bt {
  float: right;
  padding: 12px 0;
  width: 100px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 11pt;
  margin-top: 20px;
}
