.cont.discography > div {
  float: left;
}

.dis_left {
  position: relative;
  width: 500px;
  height: auto;
  overflow: hidden;
}

.onlin_cover {
  position: relative;
  width: 455px;
  height: 455px;
  overflow: hidden;
  box-shadow: 2px 6px 9px 0px #fff;
}

.onlin_cover img {
  width: 100%;
  height: 100%;
}

.dis_bt_top {
  position: relative;
  width: 455px;
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-size: 10pt;
  font-weight: 700;
}

.dis_bt_top .back {
  text-align: left;
  float: left;
}

.dis_bt_top .back a {
  font-family: 'Montserrat';
}

.dis_bt_bottom {
  position: relative;
  width: 455px;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  font-size: 12pt;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.dis_bt_bottom p {
  display: block;
  font-family: 'Montserrat';
}

.dis_bt_bottom .dis_date {
  font-size: 10pt;
  margin-top: 5px;
  font-family: 'Montserrat';
}

.dis_right {
  position: relative;
  width: 600px;
  height: auto;
  overflow: hidden;
}

.dis_right .lang {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 205px;
  width: 100%;
  position: relative;
}

.dis_right .lang li {
  display: inline-block;
  margin: 0 5px;
  font-weight: 600;
}

.dis_right .lang li:last-child {
  margin: 0 0 0 5px;
}

.dis_right .lang li a {
  color: #fff;
  font-family: 'Montserrat';
}

.dis_right .sch_cont .sch_detail {
  width: 100%;
  margin-bottom: 15px;
}

.dis_right .sch_cont .sch_detail li a {
  font-size: 10pt;
  line-height: 30px;
}

.dis_right .sch_cont .sch_detail .dt_date {
  font-size: 9pt;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 500;
}

.dis_right .sch_cont .sch_detail .on {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 7pt;
  border-radius: 15px;
  line-height: 30px;
  margin-right: 6px;
  background-color: #fd00f6;
  color: #fff;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  font-family: 'Montserrat';
}

.dis_right .sch_cont .sch_detail li span {
  display: inline-block;
  color: #fff;
}

.dis_txt_top {
  position: relative;
  width: 100%;
}

.dis_txt_top .name {
  font-size: 15pt;
  margin-bottom: 10px;
}

.dis_txt_top .album_name {
  font-family: spoqanbold;
  font-size: 25pt;
  line-height: 35px;
  margin-bottom: 50px;
}

.dis_txt_tt {
  position: relative;
  padding-bottom: 50px;
  font-family: spoqanbold;
  font-size: 11pt;
  line-height: 30px;
}

.dis_txt_stt {
  position: relative;
  margin-bottom: 50px;
}

.dis_txt_stt div {
  position: relative;
  font-size: 12pt;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 10px;
}

.dis_txt_stt div p {
  display: inline-block;
  vertical-align: top;
  width: 97%;
}

.dis_txt_stt div span {
  display: inline;
  margin-right: 10px;
}

.dis_more_cont {
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 10pt;
  font-weight: 400;
  line-height: 25px;
  float: left;
  padding-bottom: 50px;
}

.morecontent span {
  display: none;
}

.morelink {
  display: inline-block;
  color: #fff;
}

.cont.discography_view .release_list {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 100px;
}

.cont.discography_view .release_list .album_img {
  width: 32.4%;
  margin-bottom: 15px;
}

.cont.discography_view .release_list .album_img img {
  width: 100%;
}

/*discography - track list*/
.tracklist {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 50px;
  min-height: 150px;
}

.tracklist .tl_tt {
  position: relative;
  width: 100%;
  font-size: 12pt;
  font-family: 'Montserrat';
  font-weight: 600;
  margin-bottom: 20px;
}

.text-tall {
  font-size: 10pt;
  line-height: 25px;
  font-family: spoqanbold;
}

.release-playlist ol li,
.release-playlist ul li {
  position: relative;
  padding-left: 30px;
  list-style: none;
  counter-increment: step-counter;
}

.release-playlist ol li:before,
.release-playlist ul li:before {
  content: counter(step-counter) '.';
  position: absolute;
  left: 0;
  top: 2px;
  color: currentColor;
  font-size: 11pt;
  font-family: 'Montserrat';
  font-weight: 400;
}

.video,
.release {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 50px;
  margin-top: 50px;
}

.video iframe {
  width: 1100px;
  height: 619px;
}

.video .vd_tt,
.release .rl_tt {
  position: relative;
  font-size: 12pt;
  font-family: 'Montserrat';
  font-weight: 600;
  float: left;
  margin-bottom: 20px;
}

.release .rl_more {
  position: relative;
  margin-bottom: 20px;
  float: right;
}

.release .rl_more a {
  font-size: 11pt;
  font-family: 'Montserrat';
  font-weight: 600;
}

.release .release_list {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.release_list .album_img {
  position: relative;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  font-size: 16px;
  float: left;
  width: 24%;
  height: auto;
  margin-right: 1%;
}

.release_list .album_img.nob {
  margin-right: 0;
}

/*discography-하단 앨범*/
.album_img * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.album_img img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}

.album_img .album_cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
}

.album_img .album_cont:before,
.album_img .album_cont:after {
  width: 1px;
  height: 0;
}

.album_img .album_cont:before {
  right: 0;
  top: 0;
}

.album_img .album_cont:after {
  left: 0;
  bottom: 0;
}

.album_cont > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.album_cont .ab_date {
  line-height: 1.5em;
  text-align: center;
  position: relative;
  width: 100%;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 9pt;
}

.album_cont .ab_name {
  line-height: 1.5em;
  text-align: center;
  position: relative;
  width: 100%;
  font-weight: 400;
  font-size: 12pt;
  letter-spacing: 0.1em;
}

.album_img a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 11111;
}

.album_img:before,
.album_img:after,
.album_img .album_cont:before,
.album_img .album_cont:after {
  position: absolute;
  content: '';
  background-color: #fff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}

.album_img:before,
.album_img:after {
  height: 1px;
  width: 0;
}

.album_img:before {
  top: 0;
  left: 0;
}

.album_img:after {
  bottom: 0;
  right: 0;
}

.album_img:hover > img,
.album_img.hover > img {
  opacity: 0.1;
}

.album_img:hover div,
.album_img.hover div {
  opacity: 1;
}

.album_img:hover .album_cont:before,
.album_img.hover .album_cont:before,
.album_img:hover .album_cont:after,
.album_img.hover .album_cont:after {
  height: 100%;
}

.album_img:hover:before,
.album_img.hover:before,
.album_img:hover:after,
.album_img.hover:after {
  width: 100%;
}

.album_img:hover:before,
.album_img.hover:before,
.album_img:hover:after,
.album_img.hover:after,
.album_img:hover .album_cont:before,
.album_img.hover .album_cont:before,
.album_img:hover .album_cont:after,
.album_img.hover .album_cont:after {
  opacity: 0.1;
}

/*디스코그라피 리스트 */
.new_release_list {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 100px;
  display: flex;
  flex-flow: wrap;
}

.new_release_list .new_album_img {
  position: relative;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  float: left;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 15px;
  height: auto;
  overflow: hidden;
  opacity: 1;
}

.new_release_list .new_album_img.nob {
  margin-right: 0;
}

.new_release_list .new_album_img img {
  width: 100%;
  margin-bottom: 10px;
}

.new_release_list .new_album_img .new_album_cont .ab_date {
  color: #ffffff;
  font-size: 9pt;
  margin-bottom: 5px;
}

.new_release_list .new_album_img .new_album_cont .ab_name a {
  color: #fff;
  font-size: 13pt;
  font-weight: bold;
  margin-bottom: 5px;
}

.new_release_list .new_album_img .new_album_cont .ab_name span {
  position: relative;
  width: auto;
}

.new_release_list .new_album_img .new_album_cont .ab_name span:hover:after {
  width: 100%;
}

.new_release_list .new_album_img .new_album_cont .ab_name span:after {
  background-color: #fff;
  height: 2px;
  display: block;
  content: '';
  position: absolute;
  top: 45%;
  left: 0;
  width: 0;
  -moz-transition: all 0.2s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.2s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.2s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.2s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

/* list2 */
.new_release_list .txt {
  padding: 20px 0;
}

.new_release_list .txt p {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-right: 75px;
  font-size: 11pt;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.new_release_list .txt span {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 9pt;
  float: right;
  line-height: 10px;
  color: #fff;
  margin-top: 7px;
  font-weight: normal;
}

.new_release_list .img {
  position: relative;
}

.new_release_list .img img {
  vertical-align: top;
  width: 100%;
}

.new_release_list .img:hover .list-hover {
  display: block;
}

.new_release_list .list-hover img {
  max-width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -35px;
}

.new_release_list .new_album_cont {
  width: 31.2%;
  margin: 1%;
  float: left;
}
