/* 전체 프로필 레이아웃 */
.cont.profile {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

/* 멤버 이름 리스트 */
.member_name {
  width: 160px;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 400;
  letter-spacing: 0.2em;
  text-align: right;
}

.member_name p {
  margin-bottom: 7px;
}

.member_name p:hover {
  letter-spacing: 0.25em;
  transition: 0.3s;
}

.member_name p a {
  font-family: 'Montserrat';
  text-decoration: none;
  color: inherit;
}

/* 프로필 전체 박스 */
.pf_inner {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

/* 이미지 박스 */
.profile_img {
  position: relative;
  width: 530px;
  height: 675px;
}

.artist_img img {
  width: 100%;
  object-fit: fill;
  vertical-align: bottom;
}

/* 텍스트 박스 */
.profile_txt {
  width: 275px;
  position: relative;
  bottom: auto;
  right: auto;
}

.profile_txt div {
  font-size: 12pt;
  font-weight: 400;
  margin-top: 10px;
}

.profile_txt .name_tt {
  font-size: 25pt;
  font-family: 'Montserrat';
  font-weight: 100;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
  word-wrap: break-word;
  word-break: keep-all;
}

/* common - right side text */
#side {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  min-width: 1440px;
  max-width: 1440px;
}

#side .side2 {
  position: fixed;
  width: 350px;
  top: 400px;
  text-align: center;
  right: -75px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16pt;
  letter-spacing: 0.1em;
  color: #ffffff;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

#side .side2 span {
  display: inline-block;
  width: 130px;
  border-top: 1px solid #ffffff;
  vertical-align: middle;
  margin: 0 25px;
}

/* 프로필 이미지와 배경 공통 스타일 */
.color_bg {
  position: absolute;
  width: 450px;
  height: 590px;
  top: 0;
  left: 0;
  opacity: 0.3;
  border-radius: 8px;
  z-index: 1;
  background-color: transparent; /* 기본 투명 혹은 id별 색상 */
  box-shadow: none; /* box-shadow는 제거 */
}

/* 아티스트 이미지 박스 */
.artist_img {
  position: relative;
  z-index: 2;
  width: 455px;
  height: 580px;
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
}

.artist_img.show-shadow {
  box-shadow: 15px 15px 20px rgba(189, 188, 188, 0.8);
  border-radius: 8px;
  position: relative;
  z-index: 2;
}

/* .bg-All은 크기와 위치를 다른 bg-*와 맞춰서 수정 */
.bg-All {
  position: absolute;
  width: 450px;
  height: 590px;
  top: 0;
  left: 0;
}

/* 다른 ID별 배경색 */
.bg-Q {
  background-color: #fff;
}

.bg-W {
  background-color: #ff4edb;
}

.bg-E {
  background-color: #00a8ff;
}

.bg-R {
  background-color: #00c853;
}
