#wrap.gnb_on {
  transition: 0.3s;
  background-color: #f4f4f4;
}

#mySidenav {
  transition: height 0.3s;
  overflow: hidden;
  background-color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.gnb_list li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.gnb_list li a:hover {
  color: red;
}

.top-banner {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #eee;
  padding: 10px;
  z-index: 10;
}

.go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
